<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src='https://kit.fontawesome.com/132e87df1f.js'></script>
  <title>Ewa Michalska</title>
</head>
<body>
  <header class="header__about">
<a href="./navigation.html">
  <div class="menu-btn">
    <div class="menu-btn__burger"> </div>
  </div>
</a>
</header>
<div class="container container__about">
    <img src="/images/content/Ewa1.jpg" alt="Ewa">

<h1 class="header">
    O mnie
</h1>
<p class="text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error voluptate tenetur at sit, ratione quis aperiam magnam harum temporibus 
    sequi consequatur, 
    eligendi voluptas rem iusto explicabo, 
    fugit distinctio saepe ad deserunt. Soluta tempore nemo ratione delectus possimus fuga dolor ipsam ullam a nesciunt. Fugiat est animi 
    distinctio, non tempora quas!

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, libero dignissimos? Dolor ipsa impedit dolorum deserunt doloribus eaque. 
    Ipsa, vero consequatur quidem ex ut eum cupiditate tenetur architecto cum minus sequi illum consectetur a id. 
    Impedit, aperiam voluptatem iure, reprehenderit laborum pariatur fuga nesciunt quam, enim facere rem sunt! Necessitatibus.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus tenetur quae nisi, obcaecati eveniet modi reiciendis maiores, 
    distinctio accusamus, quis minus? Voluptates ex placeat alias quisquam. Odit cumque aperiam placeat? Excepturi aliquid ipsam nemo, 
    distinctio nihil delectus impedit voluptate voluptatibus quidem molestias id, labore incidunt suscipit! Hic ex fuga cum pariatur, 
    praesentium eveniet non eligendi aut temporibus voluptas amet vitae tempore aspernatur quae soluta autem iure facilis ducimus dignissimos 
    iusto rerum tempora. Fuga, atque quo? Quibusdam eveniet, ipsa repellat beatae laboriosam omnis rerum, deleniti nulla, 
    explicabo tenetur voluptatibus ullam expedita unde error porro dolorem non esse quos commodi aut libero?
</p>

</div>


</body>