<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src='https://kit.fontawesome.com/132e87df1f.js'></script>
  <title>Ewa Michalska</title>
</head>
<body>
  <header class="header__main">
<a href="./navigation.html">
  <div class="menu-btn">
    <div class="menu-btn__burger"> </div>
  </div>
</a>


      <aside class="aside--left">
         <ul class="socials__list">
          <li class="socials__items">
           <a href="#" class="socials__link" data-tool="facebook">
             <i class="fa fa-facebook"></i>
          </a>
        </li>
           <li class="socials__items">
              <a href="#" class="socials__link" data-tool="instagram">
           <i class="fa fa-instagram"></i>
          </a>
         </li>
       </ul>
    </aside>

  <div class="container">
    <h1 data-aos="fade-right">Ewa Michalska</h1>
    <h2 data-aos="fade-in" data-aos-delay="400">kolaże</h2>

    <a href="#">
      <div data-aos="fade-down" data-aos-delay="1000" class="pointer">
        <img id="pointer" src="../images/content/finger.png" alt="pointer">
      </div>
    </a>

    <div class="popup cookies" data-aos="fade-left" data-aos-delay="2000">
      <p class="text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam sit accusantium itaque. Optio eaque odit,
         provident omnis eligendi voluptate dicta amet similique rem ad ullam saepe cumque iure corrupti non assumenda 
         dolorem atque. Consectetur, exercitationem ullam explicabo dicta quibusdam ut repellendus, 
        officiis illo, deleniti ratione sequi voluptatibus eius. Provident, debitis!
      </p>
      <a href="#" class="btn" id="ok--cookies">
       OK
      </a>
      <a href="#" class="btn">
        USTAWIENIA
      </a>
    </div>
  </div>


  <!-- SCRIPTS -->
 


  <script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>  
  </header>

</body>
</html>