<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/macy@2"></script>
  <title>Ewa Michalska</title>
</head>
<body class="navigation__body">


      <nav class="navbar">
        <div class="navbar__logo"></div>
        <ul class="navbar__list">
          <li class="navbar__list--item"><a href="./index.html" class="navbar__link--active">home</a></li>
          <li class="navbar__list--item"><a href="./about.html" class="navbar__link">O mnie</a></li>
          <li class="navbar__list--item"><a href="./gallery.html" class="navbar__link">Portfolio</a></li>
          <li class="navbar__list--item"><a href="./contact.html" class="navbar__link">kontakt</a></li>
        </ul>
        <div class="menu-btn">
          <div class="menu-btn__burger"> </div>
        </div>
      </nav>

        <!-- SCRIPTS -->

  </body>