/*
                    VARIABLES
====================================================*/

//================
//  colors:
//================
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

$main-c: hsl(0, 0%, 93%);
$hero-c: hsl(47, 100%, 50%);
$h1-c: hsl(29, 88%, 62%);
$h2-c: hsl(0, 0%, 9%);
$h2-span-c: hsl(60, 69%, 91%);
$link-c: $main-c;
$link-hvr-c: $h1-c;
$menu-btn-border-c: #eeeeee;

//================
//  backgrounds:
//================
$body-bg-c: hsl(0, 0%, 9%);
$nav-bg-c: transparent;

//===================
//  widths & heights:
//===================

$menu-btn-width: 60px;
$menu-btn-height: 60px;

$burger-width: 50px;
$burger-height: 2px;
